.git
.gitignore
__pycache__
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache
**/.pytest_cache/
.mypy_cache
.ruff_cache
**/.mypy_cache/
**/.ruff_cache/
.venv
venv
**/.venv/
**/venv/
.env
dist
build
**/dist/
**/build/
.vscode
.idea
.DS_Store
**/.vscode/
**/.idea/
**/.DS_Store
**/tests/
